<app-header></app-header>
  <h1>Editar datos</h1>
<div class="container">

  <form [formGroup]="editarForm" (ngSubmit) = "postForm(editarForm.value)">

    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input type="text" class="form-control" placeholder="Title" formControlName="title">

      <label for="exampleFormControlInput1"></label>
      <input type="text" class="form-control" placeholder="Label" formControlName="body">
      <br>
      <button type="submit" class=" btn btn-primary ">Guardar</button>

      <hr>

    </div>
  </form>

</div>
<app-footer></app-footer>